html, body{
    padding: 0;
    margin: 0;
    font-family: 'Sarabun', sans-serif;
    scroll-behavior: smooth;
    font-size: 1.2em;
}

%hamburger {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 25px;
    position: absolute;
    div {
        width: 100%;
        height: 15%;
        background-color: black;
    }
}

%wrapper {
    @extend %flexcenter;
    flex-direction: column;
    max-height: 2000px;
    text-align: center;
}

%flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.web {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0 20px;
}

.mrpadd {
    padding-bottom: 40px;
}

#main {
    display: block;
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a {
            margin-top: 20px;
            margin-bottom: 15px;
        }
        .article__vertical {
            display: none;
        }
    }
    hr {
        border: none;
        width: 95%;
        height: 2px;
        background-color: lightslategray;
        color: lightslategray;
    }
    .article__icon {
        .hamb {
            display: none;
            position: absolute;
            left: 80%;
            top: 20px;
            @extend %hamburger;
        }
    }
    .wrapper__article {
        flex-direction: row;
        height: 100px;
        padding-top: 10px;
        @extend %wrapper;
        .article__vertical {
            writing-mode: vertical-lr;
        }
        .article__item {
            width: 55%;
            font-size: 1.4em;
        }
        .article__name {
            justify-content: flex-start;
            align-items: center;
            font-size: 1.5em;
        }
    }
}

#about {
    background-color: #F6F6F6;
    @extend %wrapper;
}

#skills {
    padding: 50px 0 50px;
    @extend %wrapper;
    div {
        @extend %flexcenter;
        flex-wrap: wrap;
        img {
            text-align: center;
            color: dimgray;
            width: 250px;
            padding-bottom: 20px;
        }
    }
}

#portfolio {
    padding-top: 40px;
    background-color: #F6F6F6;
    @extend %wrapper;
    .portfolio__item {
        display: flex;
        flex-direction: column;
        position: relative;
        border: 1px solid black;
        margin: 20px;
        width: 70%;
        font-size: 1.6vw;
        max-width: 950px;
        .nav_fashion {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            p {
                color: dimgrey;
                max-height: 75px;
            }
        }
        .fashion__content {
            display: flex;
            justify-content: space-evenly;
            text-align: left;
            background-color: white;
            position: relative;
            .content__item:nth-child(1) {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 35%;
                padding-top: 50px;
                .hamb {
                    width: 40px;
                    left: 75px;
                    @extend %hamburger;
                }
            }
            .content__item:nth-child(2) {
                display: flex;
                flex-wrap: wrap;
                background-image: url("../../images/uglyman.png");
                place-content: center flex-start;
                max-height: 450px;
                width: 30%;
                color: #F6F6F6;
                padding-left: 10px;
                hr{
                    display: flex;
                    position: absolute;
                    top: 60%;
                    border: none;
                    width: 25%;
                    height: 1px;
                    background-color: #F6F6F6;
                    color: #F6F6F6;
                }
            }
            .content__item:nth-child(3) {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                width: 35%;
                height: 450px;
                padding-left: 15px;
                font-size: 0.7em;
                .search {
                    display: block;
                    position: absolute;
                    right: 120px;
                    top: 25px;
                }
                hr {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 13%;
                    border: none;
                    width: 120px;
                    height: 1px;
                    background-color: black;
                    color: black;
                }
                .read {
                    position: absolute;
                    right: 70px;
                    top: 89%;
                }
                img {
                    position: absolute;
                    right: 18px;
                    bottom: 1%;
                    width: 5%;
                    height: 4%;
                }
            }
        }
        .nav_sport {
            display: flex;
            position: absolute;
            justify-content: space-evenly;
            align-items: center;
            width: 80%;
            left: -50px;
        }
        .sport__content{
            display: flex;
            flex-direction: row;
            .rebok {
                display: flex;
                align-items: center;
                color: #3124FF;
                padding-left: 5%;
                background-color: white;
                width: 55%;
                #circle {
                    position: absolute;
                    left: 56.8%;
                    width: 2em;
                    height: 2em;
                    background: red;
                    -moz-border-radius: 50px;
                    -webkit-border-radius: 50px;
                    border-radius: 50px;
                }
            }
            .four_square {
                display: flex;
                justify-content: space-evenly;
                align-content: space-evenly;
                flex-wrap: wrap;
                position: absolute;
                height: 40px;
                width: 40px;
                top: 330px;
                left: 50px;
                div {
                    width: 35%;
                    height: 35%;
                    background: #3124FF;
                }
            }
            .dude {
                display: flex;
                min-width: 35%;
            }
            .vert {
                font-size: 14px;
                display: flex;
                flex-direction: column;
                width: 50px;
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    height: 50%;
                }
                div:nth-child(1){
                    background-color: #3124FF;
                }
                div:nth-child(2){
                    background-color: #F52E2E;
                    writing-mode: vertical-lr;
                }
            }
        }
        .nav_braun {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            padding-left: 2%;
            padding-right: 2%;
            .hamb{
                position: inherit;
                width: 40px;
                @extend %hamburger;
            }
        }
        .braun__content {
            display: flex;
            background-color: #F6F6F6;
            height: 400px;
            .braun__page_text {
                display: flex;
                flex-direction: column;
                font-size: 1.4em;
                padding-top: 6%;
                padding-left: 5%;
                text-align: left;
                width: 40%;
                img {
                    position: absolute;
                    left: 50px;
                    bottom: 20px;
                    width: 60px;
                    height: 20px;
                }
                .data {
                    display: flex;
                    position: absolute;
                    right: 10px;
                    bottom: 0;
                }
            }
            .braun__page_photo {
                @extend %flexcenter;
                background-color: #DEDEDE;
                width: 60%;
            }
        }
    }
}

#contact {
    padding: 20px 0 20px;
    @extend %wrapper;
    .contact__logs {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        min-width: 300px;
    }
}

.niceman {
    text-align: center;
    padding-top: 20px;
}

.uglyman {
    display: none;
}

@media screen and (max-width: 800px) {
    #portfolio {
        .portfolio__item {
            %hamburger {
                width: 13px;
                height: 10.2px;
            }
            .fashion__content {
                .content__item{
                    max-height: 200px;
                }
                .content__item:nth-child(1){
                    .hamb {
                        left: 22px;
                        top: 40px;
                    }
                }
                .content__item:nth-child(3) {
                    .search {
                        top: 36px;
                        right: 31px;
                    }
                    hr {
                        width: 30px;
                        top: 45px;
                    }
                    .read{
                        right: 20px;
                        top: 93%;
                    }
                    img {
                        right: 3px;
                        bottom: 0;
                        width: 15px;
                    }
                }
            }
            .nav_sport{
                left: -15px;
            }
            .sport__content{
                .rebok{
                    #circle{
                        left: 153.5px;
                    }
                }
                .four_square{
                    top: 90px;
                    left: 13px;
                    height: 14px;
                    width: 14px;
                }
                .vert{
                    max-height: 200px;
                    font-size: 5px;
                    width: 20px;
                }
                .dude {
                    max-width: 130px;
                }
            }
            .braun__content{
                height: 150px;
                .braun__page_text{
                    img {
                        left: 12px;
                        bottom: 10px;
                        width: 25px;
                        height: 10px;
                    }
                }
            }
        }
    }

    hr {
        display: none;
    }

    #main {
        nav {
            display: none;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            padding-left: 5%;
            .article__vertical {
                display: block;
                position: absolute;
                right: 5%;
                top: 30%;
            }
        }
        .article__icon {
            .hamb {
                display: flex;
                width: 35px;
            }
       }
        .wrapper__article {
            height: auto;
            flex-direction: column;
            text-align: left;
            .article__vertical {
                display: none;
            }
            .article__name {
                align-self: flex-start;
                padding-left: 45px;
            }
            .article__item {
                align-self: flex-start;
                justify-content: flex-start;
                padding-left: 45px;
            }
        }
    }

    .niceman {
        display: none;
    }

    .uglyman {
        display: flex;
    }

    .portf {
        font-size: 0.8em;
    }
}